<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/checkmate.jpg">
    <link rel="stylesheet" href="css/joinpage.css">
    <title>Checkmate</title>
</head>
<body class="body">
 
  <div class="container">
    <div class="logo">
    </div>
    <h1 class="😑">Checkmate</h1>
    <form action="/index/online" method="post">
      <button class="main_btn"><a>PLAY ONLINE</a></button>
    </form>
    <form action="/index/friend" method="post">
      <button class="main_btn1"><a>PLAY WITH FRIEND</a></button>
    </form>
    <form action="/index/ai" method="post">
      <button class="main_btn2"><a>PLAY WITH COMPUTER</a></button>
    </form>
  </div>
</body>
</html>